@model Model.Models.Professor

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="text-center">Professor</h4>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Nome):
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Nome)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.DataNascimento):
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DataNascimento)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.RG):
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.RG)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CPF):
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CPF)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Endereco):
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Endereco)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Telefone):
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Telefone)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Matricula):
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Matricula)
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="text-center">Disciplinas que pode ministrar</h4>
            </div>
            <div class="panel-body">
                @if (Model.DisciplinasQuePodeMinistrar.Count == 0)
                {
                    <h5 class="text-center">Não há disciplinas.</h5>
                }
                @foreach (var disciplina in Model.DisciplinasQuePodeMinistrar)
                {
                    <h5>@disciplina.Nome</h5><hr />
                }
            </div>
        </div>
    </div>
</div>
