<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" initial-scale="1.0" charset="utf-8" />
    <title>Projeto Escolar</title>

    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    @RenderSection("Styles", false)
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Projeto Escolar</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Cadastros
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Alunos", "Index", "Aluno")</li>
                        <li>@Html.ActionLink("Professores", "Index", "Professor")</li>
                        <li>@Html.ActionLink("Disciplinas", "Index", "Disciplina")</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Turmas", "Index", "Turma")</li>
            </ul>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>

<script src="@Url.Content("~/Scripts/jquery-3.2.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

@RenderSection("ScriptPage", false)
