@model Model.Models.Turma

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="text-center">Turma</h4>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <td><b>@Html.DisplayNameFor(model => model.Disciplina)</b></td>
                        <td>@Html.DisplayFor(model => model.Disciplina.Nome)</td>
                    </tr>

                    <tr>
                        <td><b>@Html.DisplayNameFor(model => model.Professor)</b></td>
                        <td>@Html.DisplayFor(model => model.Professor.Nome)</td>
                    </tr>

                    <tr>
                        <td><b>@Html.DisplayNameFor(model => model.Turno)</b></td>
                        <td>@Html.DisplayFor(model => model.Turno)</td>
                    </tr>

                    <tr>
                        <td><b>@Html.DisplayNameFor(model => model.Vagas)</b></td>
                        <td>@Html.DisplayFor(model => model.Vagas)</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
