@model Model.Models.Turma

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="text-center">Turma</h4>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.Disciplina)</dt>
            <dd>@Html.DisplayFor(model => model.Disciplina.Nome)</dd>

            <dt>@Html.DisplayNameFor(model => model.Professor)</dt>
            <dd>@Html.DisplayFor(model => model.Professor.Nome)</dd>

            <dt>@Html.DisplayNameFor(model => model.Turno)</dt>
            <dd>@Html.DisplayFor(model => model.Turno)</dd>

            <dt>@Html.DisplayNameFor(model => model.Vagas)</dt>
            <dd>@Html.DisplayFor(model => model.Vagas)</dd>
        </dl>
    </div>
</div>
